<!DOCTYPE html>
<html>
  <head>
    <title>NFCPi - Audio List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Audio List</h1>
    <ul>
      {% for file in audio %}
        <li>
          <a href="{{ url_for('static', filename='audio/' + file) }}">{{ file }}</a>
        </li>
        <audio controls>
          <source src="{{ url_for('static', filename='audio/' + file) }}" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      {% endfor %}
    </ul>
    <a href="{{ url_for('plot') }}">Go back to plot</a>
  </body>
</html>
